@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Carme&display=swap");



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}



a {
  color: inherit;
  text-decoration: none;
}


.Open {
  font-family: "Open Sans", sans-serif;
}

.Carme {
  font-family: "Carme", sans-serif;
}

.gradient {
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0) -0.03%,
    #1b9727 54.51%,
    rgba(255, 255, 255, 0) 100.03%
  );
}

:where(.css-dev-only-do-not-override-i0102m).ant-collapse
  > .ant-collapse-item
  > .ant-collapse-header {
  color: #fff !important;
  height: 80px !important ;
  background: #1a401f !important;
}
.menuIcon {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.menuIcon .bar {
  background-color: black; 
  height: 2px;
  width: 100%;
  transition: 0.4s;
  border-radius: 20px;
}

.menuIcon.active .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-8px, 6px);
}

.menuIcon.active .bar:nth-child(2) {
  transform: translateX(180%);
  opacity: 50%;
  
  
}

.menuIcon.active .bar:nth-child(3) {
  transform: rotate(45deg) translate(-7px, -6px);
}

.menuIcon .bar {
  background-color: white;
}

.floating-input>input::placeholder {
  color: transparent;
}

.floating-input>input:focus,
.floating-input>input:not(:placeholder-shown) { 
@apply pt-5
}

.floating-input>input:focus~label, 
.floating-input>input:not(:placeholder-shown)~label {
@apply opacity-75 scale-75 -translate-y-3 translate-x-1; 
}
